.footer__title {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.205;
}

.footer__list {
  padding-bottom: 15px;
}

.footer__item {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.footer__item:last-child {
  margin-bottom: 0;
}