.navigation__title {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.205;
}

.navigation__list {
  margin: 0;
  padding-left: 20px;
}

.navigation__item:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #02535F;
}

.navigation__link {
  border-bottom: 1px solid #02535F;
}