.section-total__title {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.205;
}

.section-total__list {
  padding-bottom: 30px;
}

.section-total__item {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.section-total__item:last-child {
  margin-bottom: 0;
}
