.figure {
  padding: 15px 0;
  text-align: center;
  line-height: 0;
}

.figure:first-of-type {
  padding-bottom: 0;
}

.figure:last-child {
  padding-bottom: 0;
}

.caption {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}

.img {
  padding: 15px 0;
}

.img:first-of-type {
  padding-top: 0;
}

.img:last-of-type {
  padding-bottom: 0;
}