.article {
  padding-top: 60px;
  padding-bottom: 50px;
}

.title {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2;
}


.section {
  padding: 25px 0;
}

.section:first-of-type {
  padding-top: 50px;
}

.section:last-of-type {
  padding-bottom: 0;
}

.subtitle {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.194;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  padding: 15px 0;
}

.text:first-of-type {
  padding-top: 0;
  border: 1px solid aqua;
}

.text:last-of-type {
  padding-bottom: 0;
  border: 1px solid red;
}

.text__bold {
  font-weight: 700;
}

.text__italic {
  font-style: italic;
}







.figure__caption {
  padding: 15px 30px;
  text-align: left;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}