.article {
  padding-top: 60px;
  padding-bottom: 50px;
}

.article__title {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2;
}

.section {
  padding: 25px 0; 
}

.section:first-of-type {
  padding-top: 50px;
}

.section:last-of-type {
  padding-bottom: 0;
}

.title {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.205;
}

.subtitle {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.194;
}

.text {
  padding: 15px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.text:first-of-type {
  padding-top: 0;
}

.text:last-child {
  padding-bottom: 0;
}

.text__bold {
  font-weight: 700;
}

.text__italic {
  font-style: italic;
}

.img {
  display: block;
  padding: 15px 0;
  margin: 0 auto;
}

.img:last-child {
  padding-bottom: 0;
}

.figure {
  padding: 15px 0;
  line-height: 0;
}

.figure:last-child {
  padding-bottom: 0;
}

.figure__img {
  border-top: 1px solid #5e5e5e;
}

.figure__figcaption-alternative {
  padding: 15px 30px;
  color: #5e5e5e;
  border-left: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
  border-right: 1px solid #5e5e5e;
}

.figure__figcaption {
  padding-bottom: 15px;
}

.item {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.item:last-child {
  margin-bottom: 0;
}

.list {
  margin-bottom: 30px;
}
